{% extends "shop/"|add:SHOP_TEMPLATE|add:"/base.html" %}
{% load i18n %}

{% block content %}
<div class="wrapper" style="padding:15px">
    <p>{% trans "Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one." %}</p>

    <form action="" method="post">{% csrf_token %}
        {{ form.email.errors }}
        <div class="fieldWrapper"><label for="id_email">{% trans 'Email address' %}</label> {{ form.email }}</div>
        {% if "captcha" in form.fields %}
            {{ form.captcha.errors }}
            {{ form.captcha }}
        {% endif %}
        <input type="submit" class="button_blue1" value="{% trans 'Reset my password' %}"/>
    </form>
</div>
{% endblock %}