{% extends "shop/"|add:SHOP_TEMPLATE|add:"/base.html" %}
{% load shop_tags simit_tags staticfiles %}

{% block page_description %}
    <title>{% if page_title %}{{ page_title }}ki Ürünler{% else %}{% if request.GET.q %}({{ request.GET.q }}) {% endif %}Arama Sonuçları{% endif %}</title>
    <meta name="description" content="{% if vehiclepath.1.name %}{{ vehiclepath.0.name }} {{ vehiclepath.1.name }} model a{% elif vehiclepath.0.name %}{{ vehiclepath.0.name }} marka a{% else %} A{% endif %}rabanız için ihtiyacınız olan bütün yedek parçaları bulun! {{ category.name }} Karoseri Motor Debriyaj Aydinlatma Filtre Süspansiyon Fren Yakit ürünleri ve daha fazlası!"/>
    <meta name="keywords" content="{{ category.name }} {{ vehiclepath.0.name }} {{ vehiclepath.1.name }} {{ vehiclepath.2.name }} {{ vehiclepath.3.name }} {{ vehiclepath.4.name }} {% variable "SITE_KEYWORDS" "Site Etiketleri" "TEXT" "SEO" "Site etiketleri" %}"/>
{% endblock %}

{% block content %}
<div id="BestMatch">
    <div id="BestMatchLeft" class="search-filters">
        <h2>Seçiminizi daraltın</h2>
        {% include "shop/default/includes/filters.html" with show_count=True %}
    </div>
    <div id="BestMatchRight">
        <!--form class="mini-search">
            <ul>
                <li class="child-0"><input name="q" type="text" placeholder="Seçili kriterlerde ara" value="{{ request.GET.q }}"></li>
                <li class="child-1"><input type="submit" value="" class="search-button"></li>
            </ul>
            <div class="holder"></div>
        </form-->
        <div class="result-top">
            <h1 class="found-x-times">
                {% if page_title %}{{ page_title }}{% else %}Arama sonucunda{% endif %} <span rakam-event-attribute="result_count" rakam-event-attribute-value="long">{{ result.facets.count }}</span> adet ürün bulundu.
            </h1>
            {% if request.GET.q %}<a href="{% remove_parameter_url "q" %}" class="disable-query"><span>x</span><p style="display:inline-block" rakam-event-attribute="query">{{ request.GET.q }}</p></a>{% endif %}
            <ul id="view-options" class="view-options">
                <li class="list-title">Görünüm</li>
                <li class="list-option {% if request.GET.catalog == "list" %}selected{% endif %}"><a href="{% change_parameter_url "catalog" "list" %}" title="Liste Görünümü" {% if request.GET.catalog == "list" %}rakam-event-attribute="display" rakam-event-attribute-value="horizontal"{% endif %} class="view-button view-list"></a></li>
                <li class="list-option {% if request.GET.catalog == "catalog" %}selected{% endif %}"><a href="{% change_parameter_url "catalog" "catalog" %}" {% if request.GET.catalog == "catalog" %}rakam-event-attribute="display" rakam-event-attribute-value="square"{% endif %} title="Liste Görünümü" class="view-button view-catalog"></a></li>
            </ul>
            <div style="clear:both"></div>
        </div>

        <div class="switch-tab-bottom-line"></div>

        <div class="blueWrapper">


            <div class="gorunum">
                <div id="gorunum"></div>
                <div class="category-selectbox">
                    {% if category.vehicle_category  %}
                        {% include "shop/default/includes/vehicle-selectbox.html" with level=0 %}
                    {% endif %}
                </div>
                <div class="order-by">
                    <select id="order_selectbox" style="width:165px" rakam-event-attribute="sorting" rakam-attribute-value="text">
                        <option value="{% remove_parameter_url "or" %}">Akıllı sıralama</option>
                        <option {% param_exists "or" "in" %}selected{% endparam_exists %} value="{% change_parameter_url "or" "in" %}">İsme göre artan</option>
                        <option {% param_exists "or" "dn" %}selected{% endparam_exists %} value="{% change_parameter_url "or" "dn" %}">İsme göre azalan</option>
                        <option {% param_exists "or" "dp" %}selected{% endparam_exists %} value="{% change_parameter_url "or" "dp" %}">Fiyata göre azalan</option>
                        <option {% param_exists "or" "ip" %}selected{% endparam_exists %} value="{% change_parameter_url "or" "ip" %}">Fiyata göre artan</option>
                        <option {% param_exists "or" "ipc" %}selected{% endparam_exists %} value="{% change_parameter_url "or" "ipc" %}">Ürün koduna göre artan</option>
                        <option {% param_exists "or" "dpc" %}selected{% endparam_exists %} value="{% change_parameter_url "or" "dpc" %}">Ürün koduna göre azalan</option>
                        <option {% param_exists "or" "ibn" %}selected{% endparam_exists %} value="{% change_parameter_url "or" "ibn" %}">Marka adına göre artan</option>
                        <option {% param_exists "or" "dbn" %}selected{% endparam_exists %} value="{% change_parameter_url "or" "dbn" %}">Marka adına göre azalan</option>
                        <option {% param_exists "or" "icn" %}selected{% endparam_exists %} value="{% change_parameter_url "or" "icn" %}">Kategori adına göre artan</option>
                        <option {% param_exists "or" "dcn" %}selected{% endparam_exists %} value="{% change_parameter_url "or" "dcn" %}">Kategori adına göre azalan</option>
                    </select>

                </div>


                <div class="holder"></div>
            </div>


            <ul class="{{ catalog }}-view">
                {% for product in result.products %}
                    {% include catalog_template with product=product counter=forloop.counter %}
                {% endfor %}
            </ul>

            <div class="holder"></div>
            {% pagination context=result request=request param="p" %}

            {% if category.description %}
                <div class="sponsor">
                    <h3>{{ category.name }} Kategorisi Hakkında Detaylı Bilgi</h3>

                    <p>{{ category.description }}</p>
                </div>
            {% endif %}
        </div>
    </div>

    <div class="holder"></div>

</div>
{% endblock content %}

{% block javascript_end %}
    <script type="text/javascript" src="{% static "js/jquery.elevateZoom-3.0.8.min.js" %}"></script>
    <script>
        $('.category_selectbox').change(function () {
            document.location = this.value;
        });
        $('.number').keydown(function (e) {
            var a = e.keyCode;
            var k = this.value + String.fromCharCode(e.keyCode);
            if (k != parseInt(k) && !(a == null || a == 0 || a == 8 || a == 9 || a == 13 || a == 27)) e.preventDefault();
        });
        rakam.logInlinedEvent('search', {_user_agent: true, _referrer: true, _ip:true, returning_session: rakam.isReturningUser(), time_on_page: rakam.getTimeOnPreviousPage()})
    </script>
{% endblock %}