{% extends "shop/"|add:SHOP_TEMPLATE|add:"/customer/account/base.html" %}

{% block page_content %}
    <h2>Mesajlarım</h2>
    <div><a href="{% url "shop_modules_messaging_new" %}" class="button_blue1">yeni mesaj</a></div>

    {% if not customer_messages %}
        <br>
        Henüz hiç mesajınız yok.
    {% else %}
        <table>
            <tr>
                <th>Konu</th>
                <th>Departman</th>
                <th>Son mesaj</th>
                <th></th>
            </tr>
            {% for message in customer_messages %}
                <tr>
                    <td><a href="
                            {% if message.top_message_id %}{% url "shop_modules_messaging_display" message.top_message_id %}{% else %}{% url "shop_modules_messaging_display" message.id %}{% endif %}">{{ message.top_message.topic }}</a>
                    </td>
                    <td>{{ message.top_message.department }}</td>
                    <td>{{ message.time }}</td>
                    <td>
                        {% if message.unread %}
                            <div>new</div>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}