{% extends "shop/"|add:SHOP_TEMPLATE|add:"/customer/account/base.html" %}

{% block page_content %}
    <h2>Yeni Mesaj</h2>
    <form action="" method="post">{% csrf_token %}
    {% for field in form %}
        <div class="fieldWrapper">
            {{ field.errors }}
            <div>{{ field.label_tag }} {{ field }}</div>
        </div>
    {% endfor %}
    <p><input type="submit" class="button_blue1" value="Mesaj gönder" /></p>
</form>
    <script>
    {% if request.GET.order.isdigit %}
        document.querySelector('#id_order').value = {{ request.GET.order }};
    {% endif %}
    </script>
{% endblock %}