Havaleniz henüz bize ulaşmadı.<br>
<br>
{{ time }} tarihinde yaptığınız siparişinizi hazırlayabilmemiz için havale aktarımızı onaylamamız gerekiyor ancak son 24 saat içinde bankadan herhangi bir havale bildirimi almadık sizin siparişiniz ile ilgili.<br>
Havale ile ilgili herhangi bir sorununuz varsa bize <a href="{{ SITE_URL }}{{ message_url }}">buradan</a> mesaj yazabilirsiniz.<br>
<br>
Unutmayın, siparişinizin havalesini 4 gün içinde yapmanız gerekiyor. Aksi taktirde siparişinizi iptal etmek durumunda kalıyoruz. Siparişininizin durumunu buradan inceleyebilirsiniz: {{ customer_orders_url }}
