{% load shop_tags %}
<tr class="breadcrumb">
    {% if render_homepage != False %}<li><span typeof="v:Breadcrumb"><a class="no" href="{% url 'shop_homepage' %}" rel="v:url" property="v:title" title="Anasayfa">Anasayfa</a></span></li>{% endif %}
    {% for item in items %}
        {% if forloop.counter == 1 or forloop.counter == 2 or forloop.counter == 6   %}
           <td><a href="{% if tag == "url" %}{% url property item.slug %}{% elif tag == "link" %}{{ item.url }}{% else %}{% change_parameter_url property item.slug %}{% endif %}" rel="v:url" property="v:title" title="yedek parça">{{ item.name }}</a></td>
        {% endif %}
    {% endfor %}
</tr>
