.styleswitch.style1{background:#d6282d;}
.styleswitch.style2{background:#81c002;}
.styleswitch.style3{background:#0696fb;}
.styleswitch.style4{background:#f09404;}
.styleswitch.style5{background:#02daaa;}
/*//////////START STYLES////////*/
#sheetswitch{
	position: fixed;
	top:50px;
	left:-80px;
	width:80px;
	background:#444;
	padding-top:10px;
	padding-bottom:10px;
	padding-left:5px;
	padding-right:5px;
	color:#888;
	font-size:10px;
	text-transform:uppercase;
	-moz-border-radius: 0 5px 5px 0;
	-webkit-border-radius: 0 5px 5px 0;
	border-radius: 0 5px 5px 0;
	z-index:9999;
}
#sheetswitch .styleswitch {
	margin:15px 0 0 15px;
	display:block;
	width:30px;
	height:30px;
	border:2px solid #555;
	cursor:pointer;
	text-indent:-999999px;
}
#sheetswitch .styleswitch:hover{border:2px solid #777;}
#sheetswitch .swatch_hi {border:2px solid #ccc !important;}
.radio_text{
font-weight:bold;
padding:0 15px 0 5px;
}
.vtbutton{background:#690; font-weight:bold; text-transform:uppercase; color:#fff !important; padding:10px 20px !important; border:none; cursor:pointer; border-radius:3px;}
.vtbutton:hover{background:#c60;}
#clickswitch{
width:58px;
height:52px;
display:block;
position:absolute;
top:0px;
right:-50px;
cursor:pointer;
color:#fff;
background-color:#444;
text-align:center;
line-height:50px;
font-size:22px;
}
/*//////////END STYLES////////*/